{% extends 'adminheader.html'%}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <!-- Start Home Page Slider -->
    <section id="page-top">
        <!-- Carousel -->
        <div id="main-slide" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#main-slide" data-slide-to="0" class="active"></li>
                <li data-target="#main-slide" data-slide-to="1"></li>
                <li data-target="#main-slide" data-slide-to="2"></li>
            </ol>
            <!--/ Indicators end-->

            <!-- Carousel inner -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="/static/images/header-bg-1.jpg" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h1 class="animated3">
                                <span><strong>Analytics</strong> of Scanned Prescription</span>
                            </h1>
                            <p class="animated2">Scanned prescription document with a note that the clinic staff has validated the prescriptionwhole numbers and assign in descending order for the months of issuance.</p>
                            <!--<a href="#feature" class="page-scroll btn btn-primary animated1">Read More</a>-->
                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->

                <div class="item">
                    <img class="img-responsive" src="/static/images/header-back.png" alt="slider">

                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h1 class="animated1">
                    		  <span><strong>Analytics</strong> of Scanned Prescription</span>
                    	    </h1>
                            <p class="animated2">Scanned prescription shall be displayable on the computer terminal at both the telepharmacy and parent pharmacy.</p>
                            <!--<a href="#feature" class="page-scroll btn btn-primary animated3">Read More</a>-->
                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->

                <div class="item">
                    <img class="img-responsive" src="/static/images//galaxy.jpg" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h1 class="animated2">
                                <span><strong>Analytics</strong> of Scanned Prescription</span>
                            </h1>
                            <p class="animated1">Electronic prescription (e-prescribing or e-Rx) is the computer-based electronic generation, transmission, and filling of a medical prescription, taking the place of paper and faxed prescriptions. </p>
                            <!--<a class="animated3 slider btn btn-primary btn-min-block" href="#">Get Now</a><a class="animated3 slider btn btn-default btn-min-block" href="#">Live Demo</a>-->
                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->
            </div>
            <!-- Carousel inner end-->

            <!-- Controls -->
            <a class="left carousel-control" href="#main-slide" data-slide="prev">
                <span><i class="fa fa-angle-left"></i></span>
            </a>
            <a class="right carousel-control" href="#main-slide" data-slide="next">
                <span><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
        <!-- /carousel -->
    </section>
    <!-- End Home Page Slider -->


    <!-- Start About Us Section -->
    <section id="about-us" class="about-us-section-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title text-center">
                            <h3>About Us</h3>
                            <p>E-prescribing allows a physician, physician assistant, pharmacist, or nurse practitioner to use digital prescription software to electronically transmit a new prescription or renewal authorization to a community or mail-order pharmacy. It outlines the ability to send error-free, accurate, and understandable prescriptions electronically from the healthcare provider to the pharmacy. E-prescribing is meant to reduce the risks associated with traditional prescription script writing. It is also one of the major reasons for the push for electronic medical records. By sharing medical prescription information, e-prescribing seeks to connect the patient's team of healthcare providers to facilitate knowledgeable decision making</p>
                        </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="welcome-section text-center">
                        <img src="/static/images/about-01.jpg" class="img-responsive" alt="..">
                        <h4>Benefits</h4>
                        <div class="border"></div>
                        <p>

<ol>
                        <li>
Reduce prescribing and dispensing errors</li><li>
Decrease the work needed to execute a prescription</li><li>
Speed receipt of prescribed drugs</li><li>
Avoid more adverse drug interactions and reactions</li><li>
More reliably offer to substitute less expensive drug alternatives by checking the formulary of the insurance provider in the doctor's office</li><li>
Improve medication compliance (taking the prescribed medications on time) by reducing lost and unfilled prescriptions and minimizing patient costs</li><li>
Reduce the incidence of drug diversion (drug abuse) by alerting providers and pharmacists of duplicative prescriptions for controlled substances.</li><li>
                        </ol>
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="welcome-section text-center">
                        <img src="/static/images/about-02.jpg" class="img-responsive" alt="..">
                        <h4>Functions</h4>
                        <div class="border"></div>
                        <p>
                            <ol><li>
                            Patient's identification</li><li>
Generating a complete active medication list, possibly incorporating electronic data received from an insurance provider</li><li>
Access to patient historical data</li><li>
Prescribe or add new medication and select the pharmacy where the prescription will be filled.</li><li>
Work with an existing medication within the practice, this can involve viewing details of a medication, remove a medication from the active medication list, change dose, etc., for a medication or renew one or more medications</li><li>
Printing prescriptions</li><li>
Electronically transmitting prescriptions to a transaction hub</li>
                        </ol>
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="welcome-section text-center">
                        <img src="/static/images/about-03.jpg" class="img-responsive" alt="..">
                        <h4>Model</h4>
                        <div class="border"></div>
                        <p> <ol><li>
                            Electronically transmitting prescriptions to a transaction hub</li><li>
Conducting all safety checks using an integrated decision support system, known as a Drug Utilization Review. Safety checks include: automated prompts that offer information on the drug being prescribed, potential inappropriate dose or route of administration, drug-drug interactions, allergy concerns, or warnings of caution</li><li>
Flagging availability of lower cost, therapeutically appropriate alternatives (if any)</li><li>
Providing information on formulary or tiered formulary medications, patient eligibility, and authorization requirements received electronically from the patient's insurance provider</li><li>
System integration capabilities (e.g., connection with various databases, connection with pharmacy and pharmacy benefit manager systems)</li><li>
                        Educational capabilities (e.g., patient education, provider feedback)</li></ol>
                        </p>
                    </div>
                </div>

            </div><!-- /.row -->

        </div><!-- /.container -->
    </section>
    <!-- End About Us Section -->

</body>
</html>
{% endblock %}