{% extends 'commonheader.html'%}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <!-- Start Home Page Slider
    <section id="page-top">
        <div id="main-slide" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-slide" data-slide-to="0" class="active"></li>
                <li data-target="#main-slide" data-slide-to="1"></li>
                <li data-target="#main-slide" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="/static/images/header-bg-1.jpg" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h1 class="animated3">
                                <span><strong>Analytics</strong> of Scanned Prescription</span>
                            </h1>
                            <p class="animated2">Scanned prescription document with a note that the clinic staff has validated the prescriptionwhole numbers and assign in descending order for the months of issuance.</p>

                        </div>
                    </div>
                </div>

                <div class="item">
                    <img class="img-responsive" src="/static/images/header-back.png" alt="slider">

                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h1 class="animated1">
                    		  <span><strong>Analytics</strong> of Scanned Prescription</span>
                    	    </h1>
                            <p class="animated2">Scanned prescription shall be displayable on the computer terminal at both the telepharmacy and parent pharmacy.</p>

                        </div>
                    </div>
                </div>

                <div class="item">
                    <img class="img-responsive" src="/static/images//galaxy.jpg" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h1 class="animated2">
                                <span><strong>Analytics</strong> of Scanned Prescription</span>
                            </h1>
                            <p class="animated1">Electronic prescription (e-prescribing or e-Rx) is the computer-based electronic generation, transmission, and filling of a medical prescription, taking the place of paper and faxed prescriptions. </p>

                        </div>
                    </div>
                </div>

            </div>

            <a class="left carousel-control" href="#main-slide" data-slide="prev">
                <span><i class="fa fa-angle-left"></i></span>
            </a>
            <a class="right carousel-control" href="#main-slide" data-slide="next">
                <span><i class="fa fa-angle-right"></i></span>
            </a>
        </div>

    </section>
    End Home Page Slider -->



    <section id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h3>New User Page</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3 style="color:white;">
                    {{msg}}
                        </h3>
                    <form action="/newuser" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                 <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name " name="fname" id="fname" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Login Name " name="lname" id="lname" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email " name="email" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone " name="phnum" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name " name="uname" id="uname" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password " name="pwd" id="pwd" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Address" name="address" id="address" required data-validation-required-message="Please enter address."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <input type="submit" value="New User" class="btn btn-primary">
                                <!--<button type="submit" class="btn btn-primary">New User</button>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="style-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <span class="copyright">Copyright &copy; Project Designed by </a> Precedency College Students</span>
                    </div>
                </div>
            </div>
        </footer>
    </section>

</body>
</html>
{% endblock %}